.containerFormDE {
  width: 265px !important;
  height: 48px !important;
  color: #92959a !important;
  border: none !important;
  background: #f7f7f7 !important;
  padding-left: 12px !important;
  margin: 0;
  align-items: center;
  display: flex;
}
.textFormDE {
  width: 95% !important;
  color: #92959a !important;
}
