.NavScssW {
  display: none;
}

.NavScssM {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.containerIconMenu {
  width: 30%;
}

.containerLogo {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 15px;
}

.iconMenu {
  width: 40px;
}

.iconLogo {
  width: 55px;
}

.textNav {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3b4559;
  font-size: 24px;
  font-weight: bold;
  font-family: poppins;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .ancorNavLog:hover {
    color: #9f9fed;
    cursor: pointer;
  }
  .ancorStylesOne:hover {
    color: #7A8082;
    cursor: pointer;
  }
  .ancorStylesTwo:hover {
    color: #7A8082;
    cursor: pointer;
  }
  .NavScssM {
    display: none;
  }
  .NavScssW {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 50px;
    margin-right: 10px;
  }
  .contentancorMenuW {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contentancorMenuWTwo {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contentancorMenuWThree {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #736ced;
    font-weight: bold;
  }
  .ancorStylesOne {
    font-size: 14px;
    color: #3b4559;
    font-weight: bold;
  }
  .ancorStylesTwo {
    font-size: 14px;
    color: #3b4559;
  }
}

@media only screen and (min-width: 820px) {
  .NavScssM {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contentancorMenuWTwo {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contentancorMenuWThree {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #736ced;
    font-weight: bold;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1280px) {
  .NavScssM {
    display: none;
  }
  .contentancorMenuWTwo {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contentancorMenuWThree {
    width: 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #736ced;
    font-weight: bold;
  }
  .NavScssW {
    margin-left: 100px;
    margin-right: 50px;
  }
}
/*# sourceMappingURL=navbarUser.module.css.map */