.contImgMyEventsW {
  display: none;
}

.containerMyEventsAndImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 100%;
  height: 700px;
}

.btnLME {
  background-color: #736ced;
  color: white;
  border-radius: 8px;
  width: 364px;
  height: 48px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 42px;
}

.btnLMEW {
  background-color: #736ced;
  color: white;
  border-radius: 8px;
  width: 364px;
  height: 48px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 42px;
  display: none;
}

.lineMyEvents {
  height: 5px;
  margin-left: 0%;
  margin-right: 50%;
  margin-bottom: 24px;
  background-color: #3b4559;
  border-radius: 5px;
}

.contMyEventsinfo {
  width: 364px;
  height: 68px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
  margin-top: 24px;
}

.titleEvnt {
  font-size: 16px;
  color: #3b4559;
  text-transform: uppercase;
}

.ancorTitleEvnt {
  -webkit-text-decoration: underline #736ced;
          text-decoration: underline #736ced;
  color: #736ced;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .btnLMEW {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btnLME {
    display: none;
  }
  .contMyEvents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lineMyEvents {
    width: 50px;
  }
  .contMyEventsinfo {
    width: 700px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .containerMyEventsAndImg {
    height: 820px;
  }
}

@media only screen and (min-width: 820px) {
  .containerMyEventsAndImg {
    height: 950px;
  }
}

@media only screen and (min-width: 1280px) {
  .containerMyEventsAndImg {
    height: 570px;
  }
}
/*# sourceMappingURL=cardDashbordEvents.module.css.map */